.page-content {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    min-height: 75vh;
  }

  .page-header {
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer {
    margin-left: auto;
    margin-right: auto;
  }

  .page-side-menu-carousel {
    margin-top: 20px;
  }

  .product-collection-container {
    background: white;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
  }