.user-layout-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.background {
    background-image: url("https://i2.wp.com/www.wallpapertip.com/wmimgs/152-1527623_free-beach-wallpapers-without-copyright-bermuda-background.jpg") !important;
    position: absolute;
    background-size: cover 110%;
    filter: blur(5px);
    z-index: index -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content {
    position: relative;
    z-index: 1;
    flex: 1;
    padding: 32px 0;
}

.content .top {
    height: fit-content;
    width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5% !important;
	background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
}

.content .top .content-header {
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.content .top .content-header .logo {
    height: 60px;
    width: 60px;
    float: none;
}

.content .top .content-header .title {
    position: relative;
    top: 20%;
    color: #1890ff;
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.content .top .desc {
    margin-top: 16px;
    margin-bottom: 40px;
    color: #b01616;
}

